body {
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #151617;
}

#heder {
	position: relative;
    width:1312px;
    height:190px;
    margin-top: -8px;
    margin-left: -10px;
    background-color:#7121AB;
}

#title {
	width: 350px;
	height: 75px;
    margin-top: 20px;
    margin-left:350px;
    cursor: pointer;
}

#subtitle {
    margin-top: 0px;
    margin-left:350px;
    font-size:16px;
    color: #ffffff;
}


#menu {
    position: absolute;
    width:1325px;
    margin-top: -20px;
}

#general {
    position: relative;
    width: 100px;
    left: 350px;
    top: 10px;
    color: #D4A701;
}

#film {
    position: relative;
    width: 90px;
    left: 375px;
    top: 10px;
}

#serial {
    position: relative;
    width: 95px;
    left: 400px;
    top: 10px;
}

#cartoon {
    position: relative;
    width: 105px;
    left: 425px;
    top: 10px;
}

#about {
    position: relative;
    width: 80px;
    left: 450px;
    top: 10px;
}
